<div class="package-item clearfix">
  <div class="p-box box-1">
    <input type="text" class="form-control" name="GoodName" placeholder="建议填入中文"></div>
  <div class="p-box box-2">
    <input type="text" class="form-control" name="GoodDescribe" ></div>
  <div class="p-box box-3">
    <input type="text" class="form-control select-category" data-category="" name="GoodClasses"  placeholder="点击填入" ></div>
  <div class="p-box box-4">
    <input type="text" class="form-control" name="GoodBrand" placeholder="建议填入英文"></div>
  <div class="p-box box-5">
    <input type="text" class="form-control" name="GoodPrice" placeholder="0.00"></div>
  <div class="p-box box-6">
    <input type="text" class="form-control" name="GoodQuantity" placeholder="0"></div>
  <div class="p-box box-7">
    <a href="javascript:void(0)" class="delete-row">删除</a>
  </div>
</div>