
<!-- 产品 类别 -->
<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">添加发件人</h4>
      </div>
      <form id="addCategoryFrom">

        <div class="modal-body">
          <div class="addAddresser-from">
            <div class="form-group">
              <label>类别</label>
              <select class="prov form-control" id="category01" name="category01">
              </select>
            </div>
            <div class="form-group">
              <label>子类别</label>
              <select class="city form-control" id="category02" name="category02">
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </form>
    </div>
  </div>
</div>
<!-- 产品 类别 -->

<!-- 包裹商品信息 -->
<div class="package-goods-container">
  <div class="title">
    包裹商品信息
    <button type="button" class="btn btn-primary" id="addCommodity">添加商品</button>
  </div>
  <div class="package-goods-list">
    <!-- 注释 -->
    <div class="annotation">
      <div class="package-box clearfix">
        <div class="box-1">物品名称(中文)</div>
        <div class="box-2">物品描述(可空)</div>
        <div class="box-3">类别</div>
        <div class="box-4">品牌(英文)</div>
        <div class="box-5">单价（RMB）</div>
        <div class="box-6">物品数量</div>
        <div class="box-7">操作</div>
      </div>
    </div>
    <!-- 注释 -->

    <!-- 商品列表 -->
    <div class="package-list" id="packageList">
      <div class="package-item clearfix">
        <div class="p-box box-1">
          <input type="text" class="form-control" name="GoodName" placeholder="建议填入中文"></div>
        <div class="p-box box-2">
          <input type="text" class="form-control" name="GoodDescribe" ></div>
        <div class="p-box box-3">
          <input type="text" class="form-control select-category" data-category="" name="GoodClasses"  placeholder="点击填入" ></div>
        <div class="p-box box-4">
          <input type="text" class="form-control" name="GoodBrand" placeholder="建议填入英文"></div>
        <div class="p-box box-5">
          <input type="text" class="form-control" name="GoodPrice" placeholder="0.00"></div>
        <div class="p-box box-6">
          <input type="text" class="form-control" name="GoodQuantity" placeholder="0"></div>
        <div class="p-box box-7">
          <a href="javascript:void(0)" class="delete-row">删除</a>
        </div>
      </div>
    </div>
    <!-- 商品列表 --> </div>
</div>
<!-- 包裹商品信息 -->